# Auto detect text files and perform LF normalization
* text=auto


class Computer:
    def __init__(self, health):
        self.health = health
        self.defensive_options = ["block", "counter", "dodge"]
    
    def defense(self, player_move):
        """Chooses a defense based on player's move"""
        if player_move == "punch":
            return random.choice(["dodge", "counter"])
        elif player_move == "leg sweep":
            return random.choice(["block", "counter"])
        elif player_move == "special move 1":
            return random.choice(["block", "counter"])
        elif player_move == "special move 2":
            return random.choice(["block", "counter"])
        else:
            return random.choice(self.defensive_options)
